<% layout('layouts/boilerplate') -%>
<h1>Login</h1>
<form action="/login" method="POST" class="validate-form" novalidate>
  <div class="mb-3">
    <label for="username" class="form-label">Enter an Username</label>
    <input
      class="form-control"
      type="text"
      name="username"
      id="username"
      placeholder="username"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Enter a password</label>
    <input
      class="form-control"
      type="password"
      name="password"
      id="password"
      placeholder="password"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Login</button>
</form>
